{% extends '../generic_base.html' %}


{% block base_body %}

<nav class="green accent-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Tormon</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="section">
            {% block content %}
            {% end %}
        </div>
    </div>
</main>

<footer class="page-footer green accent-4">
    <div class="footer-copyright">
        <div class="container">
            2015 <a class="orange-text text-lighten-3" href="http://materializecss.com">Tormon</a>
        </div>
    </div>
</footer>

{% end %}